@media (max-width: $screen-md-max) {
}

@media (max-width: $screen-sm-max) {
	#introduction,
	#music-gallery {
		background-attachment: local;
	}

	#about img {
		margin: auto;
	}

	.music-description {
		margin-top: 20px;
	}
}

@media (max-width: $screen-xs-max) {
	.introduction-content h1 {
		text-align: center;

		.text-muted {
			width: 100%;
			float: left;
		}
	}

	#introduction ul {
		text-align: center;
	}

	#introduction .horizontal-list-item {
		margin: 0px 0px;
		padding: 0 20px;
		top: 20px;
	}
	/* Look into disabling animations */

	#press .section-content a {
		margin: auto;

	}

	#music ul li {
		padding-right: 0px;
	}

	#contact p {
		display: none;
	}

	#contact .horizontal-list-item {
		padding: 0px 12px;
	}

}
